bitsandbytes==0.40.0
transformers==4.31.0
peft==0.4.0
accelerate==0.21.0
evaluate==0.4.0
sentencepiece==0.1.99
jupyter==1.0.0
scipy==1.11.3
torch==2.0.1
Levenshtein==0.23.0
langchain==0.0.312
tqdm==4.66.1
datasets==2.14.5
